TermProject/Web References/BlackboardSvcPxy/BlackBoardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theEmail" type="tns:Email" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Email">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BCCAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTMLBody" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Priority" type="tns:MailPriority" />
          <s:element minOccurs="0" maxOccurs="1" name="MailHost" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MailPriority">
        <s:restriction base="s:string">
          <s:enumeration value="Normal" />
          <s:enumeration value="Low" />
          <s:enumeration value="High" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="verifyLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verifyLoginResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addNameFromCourseID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNameFromCourseIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addNameFromCourseIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssignmentSvc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assignment" type="tns:Assignment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Assignment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DueDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaximumGrade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FK_CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="FileLength" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAssignmentSvcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAssignmentSvcResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="student" type="tns:Student" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Major" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addStudentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCourseBuilder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cb" type="tns:CourseBuilder" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CourseBuilder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FK_DeptID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="addCourseBuilderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addCourseBuilderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBBAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="tns:BBAdmin" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BBAdmin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addBBAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addBBAdminResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAnnoucementSvc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="annoucement" type="tns:Annoucement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Annoucement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FK_CourseID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAnnoucementSvcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAnnoucementSvcResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAnnoucementSvc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="annoucement" type="tns:Annoucement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAnnoucementSvcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAnnoucementSvcResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBBAdmin2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="array" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBBAdmin2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addBBAdmin2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="tns:Course" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Course">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CourseID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FK_TermID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FK_CBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnrollCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnrollCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="EmailCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentPages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentPagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentPagesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTerm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTermResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTermResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnnoucement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="annoucement" type="tns:Annoucement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnnoucementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAnnoucementResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentPageDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentPageDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentPageDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssignmentByIDSvc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assignment" type="tns:Assignment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssignmentByIDSvcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssignmentByIDSvcResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssignmentSvc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assignment" type="tns:Assignment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssignmentSvcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssignmentSvcResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminByIDSvc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="tns:BBAdmin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminByIDSvcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdminByIDSvcResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findNameBycbID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cbID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findNameBycbIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findNameBycbIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="populateClases">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cbID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="populateClasesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="populateClasesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebGetCourseBuilder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebGetCourseBuilderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebGetCourseBuilderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseByTerm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fk_termid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseByTermResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseByTermResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseByCBID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fk_CBID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseByCBIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseByCBIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="tns:Course" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="populateStudentsInCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="populateStudentsInCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="populateStudentsInCourseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStudentsToCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrStudents" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="courseID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="addStudentsToCourseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="verifyLoginSoapIn">
    <wsdl:part name="parameters" element="tns:verifyLogin" />
  </wsdl:message>
  <wsdl:message name="verifyLoginSoapOut">
    <wsdl:part name="parameters" element="tns:verifyLoginResponse" />
  </wsdl:message>
  <wsdl:message name="addNameFromCourseIDSoapIn">
    <wsdl:part name="parameters" element="tns:addNameFromCourseID" />
  </wsdl:message>
  <wsdl:message name="addNameFromCourseIDSoapOut">
    <wsdl:part name="parameters" element="tns:addNameFromCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddAssignmentSvcSoapIn">
    <wsdl:part name="parameters" element="tns:AddAssignmentSvc" />
  </wsdl:message>
  <wsdl:message name="AddAssignmentSvcSoapOut">
    <wsdl:part name="parameters" element="tns:AddAssignmentSvcResponse" />
  </wsdl:message>
  <wsdl:message name="addStudentSoapIn">
    <wsdl:part name="parameters" element="tns:addStudent" />
  </wsdl:message>
  <wsdl:message name="addStudentSoapOut">
    <wsdl:part name="parameters" element="tns:addStudentResponse" />
  </wsdl:message>
  <wsdl:message name="addCourseBuilderSoapIn">
    <wsdl:part name="parameters" element="tns:addCourseBuilder" />
  </wsdl:message>
  <wsdl:message name="addCourseBuilderSoapOut">
    <wsdl:part name="parameters" element="tns:addCourseBuilderResponse" />
  </wsdl:message>
  <wsdl:message name="addBBAdminSoapIn">
    <wsdl:part name="parameters" element="tns:addBBAdmin" />
  </wsdl:message>
  <wsdl:message name="addBBAdminSoapOut">
    <wsdl:part name="parameters" element="tns:addBBAdminResponse" />
  </wsdl:message>
  <wsdl:message name="AddAnnoucementSvcSoapIn">
    <wsdl:part name="parameters" element="tns:AddAnnoucementSvc" />
  </wsdl:message>
  <wsdl:message name="AddAnnoucementSvcSoapOut">
    <wsdl:part name="parameters" element="tns:AddAnnoucementSvcResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAnnoucementSvcSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAnnoucementSvc" />
  </wsdl:message>
  <wsdl:message name="UpdateAnnoucementSvcSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAnnoucementSvcResponse" />
  </wsdl:message>
  <wsdl:message name="addBBAdmin2SoapIn">
    <wsdl:part name="parameters" element="tns:addBBAdmin2" />
  </wsdl:message>
  <wsdl:message name="addBBAdmin2SoapOut">
    <wsdl:part name="parameters" element="tns:addBBAdmin2Response" />
  </wsdl:message>
  <wsdl:message name="addCourseSoapIn">
    <wsdl:part name="parameters" element="tns:addCourse" />
  </wsdl:message>
  <wsdl:message name="addCourseSoapOut">
    <wsdl:part name="parameters" element="tns:addCourseResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCourseSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCourse" />
  </wsdl:message>
  <wsdl:message name="DeleteCourseSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="EnrollCourseSoapIn">
    <wsdl:part name="parameters" element="tns:EnrollCourse" />
  </wsdl:message>
  <wsdl:message name="EnrollCourseSoapOut">
    <wsdl:part name="parameters" element="tns:EnrollCourseResponse" />
  </wsdl:message>
  <wsdl:message name="EmailCourseSoapIn">
    <wsdl:part name="parameters" element="tns:EmailCourse" />
  </wsdl:message>
  <wsdl:message name="EmailCourseSoapOut">
    <wsdl:part name="parameters" element="tns:EmailCourseResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartment" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentPagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentPages" />
  </wsdl:message>
  <wsdl:message name="GetContentPagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentPagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTermSoapIn">
    <wsdl:part name="parameters" element="tns:GetTerm" />
  </wsdl:message>
  <wsdl:message name="GetTermSoapOut">
    <wsdl:part name="parameters" element="tns:GetTermResponse" />
  </wsdl:message>
  <wsdl:message name="GetAnnoucementSoapIn">
    <wsdl:part name="parameters" element="tns:GetAnnoucement" />
  </wsdl:message>
  <wsdl:message name="GetAnnoucementSoapOut">
    <wsdl:part name="parameters" element="tns:GetAnnoucementResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentPageDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentPageDetails" />
  </wsdl:message>
  <wsdl:message name="GetContentPageDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentPageDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssignmentByIDSvcSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssignmentByIDSvc" />
  </wsdl:message>
  <wsdl:message name="GetAssignmentByIDSvcSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssignmentByIDSvcResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssignmentSvcSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssignmentSvc" />
  </wsdl:message>
  <wsdl:message name="GetAssignmentSvcSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssignmentSvcResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdminByIDSvcSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminByIDSvc" />
  </wsdl:message>
  <wsdl:message name="GetAdminByIDSvcSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminByIDSvcResponse" />
  </wsdl:message>
  <wsdl:message name="findNameBycbIDSoapIn">
    <wsdl:part name="parameters" element="tns:findNameBycbID" />
  </wsdl:message>
  <wsdl:message name="findNameBycbIDSoapOut">
    <wsdl:part name="parameters" element="tns:findNameBycbIDResponse" />
  </wsdl:message>
  <wsdl:message name="populateClasesSoapIn">
    <wsdl:part name="parameters" element="tns:populateClases" />
  </wsdl:message>
  <wsdl:message name="populateClasesSoapOut">
    <wsdl:part name="parameters" element="tns:populateClasesResponse" />
  </wsdl:message>
  <wsdl:message name="WebGetCourseBuilderSoapIn">
    <wsdl:part name="parameters" element="tns:WebGetCourseBuilder" />
  </wsdl:message>
  <wsdl:message name="WebGetCourseBuilderSoapOut">
    <wsdl:part name="parameters" element="tns:WebGetCourseBuilderResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserType" />
  </wsdl:message>
  <wsdl:message name="GetUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseByTermSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseByTerm" />
  </wsdl:message>
  <wsdl:message name="GetCourseByTermSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseByTermResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseByCBIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseByCBID" />
  </wsdl:message>
  <wsdl:message name="GetCourseByCBIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseByCBIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCourseSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCourse" />
  </wsdl:message>
  <wsdl:message name="UpdateCourseSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCourseResponse" />
  </wsdl:message>
  <wsdl:message name="populateStudentsInCourseSoapIn">
    <wsdl:part name="parameters" element="tns:populateStudentsInCourse" />
  </wsdl:message>
  <wsdl:message name="populateStudentsInCourseSoapOut">
    <wsdl:part name="parameters" element="tns:populateStudentsInCourseResponse" />
  </wsdl:message>
  <wsdl:message name="addStudentsToCourseSoapIn">
    <wsdl:part name="parameters" element="tns:addStudentsToCourse" />
  </wsdl:message>
  <wsdl:message name="addStudentsToCourseSoapOut">
    <wsdl:part name="parameters" element="tns:addStudentsToCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="BlackBoardServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <wsdl:input message="tns:verifyLoginSoapIn" />
      <wsdl:output message="tns:verifyLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addNameFromCourseID">
      <wsdl:input message="tns:addNameFromCourseIDSoapIn" />
      <wsdl:output message="tns:addNameFromCourseIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAssignmentSvc">
      <wsdl:input message="tns:AddAssignmentSvcSoapIn" />
      <wsdl:output message="tns:AddAssignmentSvcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <wsdl:input message="tns:addStudentSoapIn" />
      <wsdl:output message="tns:addStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addCourseBuilder">
      <wsdl:input message="tns:addCourseBuilderSoapIn" />
      <wsdl:output message="tns:addCourseBuilderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addBBAdmin">
      <wsdl:input message="tns:addBBAdminSoapIn" />
      <wsdl:output message="tns:addBBAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAnnoucementSvc">
      <wsdl:input message="tns:AddAnnoucementSvcSoapIn" />
      <wsdl:output message="tns:AddAnnoucementSvcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnnoucementSvc">
      <wsdl:input message="tns:UpdateAnnoucementSvcSoapIn" />
      <wsdl:output message="tns:UpdateAnnoucementSvcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addBBAdmin2">
      <wsdl:input message="tns:addBBAdmin2SoapIn" />
      <wsdl:output message="tns:addBBAdmin2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <wsdl:input message="tns:addCourseSoapIn" />
      <wsdl:output message="tns:addCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <wsdl:input message="tns:DeleteCourseSoapIn" />
      <wsdl:output message="tns:DeleteCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnrollCourse">
      <wsdl:input message="tns:EnrollCourseSoapIn" />
      <wsdl:output message="tns:EnrollCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailCourse">
      <wsdl:input message="tns:EmailCourseSoapIn" />
      <wsdl:output message="tns:EmailCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <wsdl:input message="tns:GetDepartmentSoapIn" />
      <wsdl:output message="tns:GetDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentPages">
      <wsdl:input message="tns:GetContentPagesSoapIn" />
      <wsdl:output message="tns:GetContentPagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTerm">
      <wsdl:input message="tns:GetTermSoapIn" />
      <wsdl:output message="tns:GetTermSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAnnoucement">
      <wsdl:input message="tns:GetAnnoucementSoapIn" />
      <wsdl:output message="tns:GetAnnoucementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentPageDetails">
      <wsdl:input message="tns:GetContentPageDetailsSoapIn" />
      <wsdl:output message="tns:GetContentPageDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignmentByIDSvc">
      <wsdl:input message="tns:GetAssignmentByIDSvcSoapIn" />
      <wsdl:output message="tns:GetAssignmentByIDSvcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignmentSvc">
      <wsdl:input message="tns:GetAssignmentSvcSoapIn" />
      <wsdl:output message="tns:GetAssignmentSvcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminByIDSvc">
      <wsdl:input message="tns:GetAdminByIDSvcSoapIn" />
      <wsdl:output message="tns:GetAdminByIDSvcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findNameBycbID">
      <wsdl:input message="tns:findNameBycbIDSoapIn" />
      <wsdl:output message="tns:findNameBycbIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="populateClases">
      <wsdl:input message="tns:populateClasesSoapIn" />
      <wsdl:output message="tns:populateClasesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebGetCourseBuilder">
      <wsdl:input message="tns:WebGetCourseBuilderSoapIn" />
      <wsdl:output message="tns:WebGetCourseBuilderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <wsdl:input message="tns:GetUserTypeSoapIn" />
      <wsdl:output message="tns:GetUserTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByTerm">
      <wsdl:input message="tns:GetCourseByTermSoapIn" />
      <wsdl:output message="tns:GetCourseByTermSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByCBID">
      <wsdl:input message="tns:GetCourseByCBIDSoapIn" />
      <wsdl:output message="tns:GetCourseByCBIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCourse">
      <wsdl:input message="tns:UpdateCourseSoapIn" />
      <wsdl:output message="tns:UpdateCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="populateStudentsInCourse">
      <wsdl:input message="tns:populateStudentsInCourseSoapIn" />
      <wsdl:output message="tns:populateStudentsInCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addStudentsToCourse">
      <wsdl:input message="tns:addStudentsToCourseSoapIn" />
      <wsdl:output message="tns:addStudentsToCourseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlackBoardServiceSoap" type="tns:BlackBoardServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <soap:operation soapAction="http://tempuri.org/verifyLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNameFromCourseID">
      <soap:operation soapAction="http://tempuri.org/addNameFromCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssignmentSvc">
      <soap:operation soapAction="http://tempuri.org/AddAssignmentSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap:operation soapAction="http://tempuri.org/addStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourseBuilder">
      <soap:operation soapAction="http://tempuri.org/addCourseBuilder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBBAdmin">
      <soap:operation soapAction="http://tempuri.org/addBBAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnnoucementSvc">
      <soap:operation soapAction="http://tempuri.org/AddAnnoucementSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnnoucementSvc">
      <soap:operation soapAction="http://tempuri.org/UpdateAnnoucementSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBBAdmin2">
      <soap:operation soapAction="http://tempuri.org/addBBAdmin2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap:operation soapAction="http://tempuri.org/addCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap:operation soapAction="http://tempuri.org/DeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnrollCourse">
      <soap:operation soapAction="http://tempuri.org/EnrollCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailCourse">
      <soap:operation soapAction="http://tempuri.org/EmailCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap:operation soapAction="http://tempuri.org/GetDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentPages">
      <soap:operation soapAction="http://tempuri.org/GetContentPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerm">
      <soap:operation soapAction="http://tempuri.org/GetTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnoucement">
      <soap:operation soapAction="http://tempuri.org/GetAnnoucement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentPageDetails">
      <soap:operation soapAction="http://tempuri.org/GetContentPageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignmentByIDSvc">
      <soap:operation soapAction="http://tempuri.org/GetAssignmentByIDSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignmentSvc">
      <soap:operation soapAction="http://tempuri.org/GetAssignmentSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminByIDSvc">
      <soap:operation soapAction="http://tempuri.org/GetAdminByIDSvc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findNameBycbID">
      <soap:operation soapAction="http://tempuri.org/findNameBycbID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="populateClases">
      <soap:operation soapAction="http://tempuri.org/populateClases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGetCourseBuilder">
      <soap:operation soapAction="http://tempuri.org/WebGetCourseBuilder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <soap:operation soapAction="http://tempuri.org/GetUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByTerm">
      <soap:operation soapAction="http://tempuri.org/GetCourseByTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByCBID">
      <soap:operation soapAction="http://tempuri.org/GetCourseByCBID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourse">
      <soap:operation soapAction="http://tempuri.org/UpdateCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="populateStudentsInCourse">
      <soap:operation soapAction="http://tempuri.org/populateStudentsInCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudentsToCourse">
      <soap:operation soapAction="http://tempuri.org/addStudentsToCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BlackBoardServiceSoap12" type="tns:BlackBoardServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <soap12:operation soapAction="http://tempuri.org/verifyLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNameFromCourseID">
      <soap12:operation soapAction="http://tempuri.org/addNameFromCourseID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssignmentSvc">
      <soap12:operation soapAction="http://tempuri.org/AddAssignmentSvc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap12:operation soapAction="http://tempuri.org/addStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourseBuilder">
      <soap12:operation soapAction="http://tempuri.org/addCourseBuilder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBBAdmin">
      <soap12:operation soapAction="http://tempuri.org/addBBAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnnoucementSvc">
      <soap12:operation soapAction="http://tempuri.org/AddAnnoucementSvc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnnoucementSvc">
      <soap12:operation soapAction="http://tempuri.org/UpdateAnnoucementSvc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBBAdmin2">
      <soap12:operation soapAction="http://tempuri.org/addBBAdmin2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap12:operation soapAction="http://tempuri.org/addCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap12:operation soapAction="http://tempuri.org/DeleteCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnrollCourse">
      <soap12:operation soapAction="http://tempuri.org/EnrollCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailCourse">
      <soap12:operation soapAction="http://tempuri.org/EmailCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap12:operation soapAction="http://tempuri.org/GetDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentPages">
      <soap12:operation soapAction="http://tempuri.org/GetContentPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerm">
      <soap12:operation soapAction="http://tempuri.org/GetTerm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnoucement">
      <soap12:operation soapAction="http://tempuri.org/GetAnnoucement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentPageDetails">
      <soap12:operation soapAction="http://tempuri.org/GetContentPageDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignmentByIDSvc">
      <soap12:operation soapAction="http://tempuri.org/GetAssignmentByIDSvc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignmentSvc">
      <soap12:operation soapAction="http://tempuri.org/GetAssignmentSvc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminByIDSvc">
      <soap12:operation soapAction="http://tempuri.org/GetAdminByIDSvc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findNameBycbID">
      <soap12:operation soapAction="http://tempuri.org/findNameBycbID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="populateClases">
      <soap12:operation soapAction="http://tempuri.org/populateClases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGetCourseBuilder">
      <soap12:operation soapAction="http://tempuri.org/WebGetCourseBuilder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserType">
      <soap12:operation soapAction="http://tempuri.org/GetUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByTerm">
      <soap12:operation soapAction="http://tempuri.org/GetCourseByTerm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByCBID">
      <soap12:operation soapAction="http://tempuri.org/GetCourseByCBID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourse">
      <soap12:operation soapAction="http://tempuri.org/UpdateCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="populateStudentsInCourse">
      <soap12:operation soapAction="http://tempuri.org/populateStudentsInCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudentsToCourse">
      <soap12:operation soapAction="http://tempuri.org/addStudentsToCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlackBoardService">
    <wsdl:port name="BlackBoardServiceSoap" binding="tns:BlackBoardServiceSoap">
      <soap:address location="http://localhost:49823/BlackBoardService.asmx" />
    </wsdl:port>
    <wsdl:port name="BlackBoardServiceSoap12" binding="tns:BlackBoardServiceSoap12">
      <soap12:address location="http://localhost:49823/BlackBoardService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>